<!DOCTYPE html>
<html>
<head>
  <title>Za prijavu na konferenciju "Slobodan softver u nastavi"</title>
  <meta charset="utf-8" />
  <style type="text/css" media="screen">
    h2 { font-size: 2em; margin-top: 2em}
    h3 { font-size: 1.3em; margin-top: 2em}
    .uncomplete {background-color: #FF9D9D}
  </style>
</head>
<body>

<table cellpadding="2" cellspacing="0" border="1">
  <tr><th>Назив</th><th>Улога</th></tr>
  {% for ref in references %}
  <tr>
  <td>{{ref|ref_format}}</td>
  <td>{{ref|uloga}}</td>
  </tr>
  {% endfor %}
</table>

